@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c8e8e9;
}

.container {
    width: 80%;
    background: #fff;
    padding: 30px 60px 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .content .left-side {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
    flex: 1;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.container .content .right-side {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.right-side .input-box {
    height: 50px;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    background: #f0f1f8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
    margin-top: 6px;
}

.right-side .button {
    margin-top: 12px;
}

.right-side .button button {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-side .button button:hover {
    background: #5029bc;
    color: #fff;
}

/* Media Queries */
@media (max-width: 820px) {
    .container {
        width: 90%;
        padding: 30px 35px 40px 35px;
    }

    .container .content .left-side::before {
        display: none;
    }
}

@media (max-width: 950px) {
    .container {
        margin: 40px 0;
        height: auto;
    }

    .container .content {
        flex-direction: column;
    }

    .container .content .left-side {
        flex-direction: column;
        margin-top: 20px;
    }
}
