@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Inter:wght@300&display=swap");
:root {
    --main-bg-color: #2874f0;
}  
* {
  margin: 0;
  padding: 0;
}
header{
    background-color: var(--main-bg-color);
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 88px;
    padding: 0px 25px

}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0px 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(188, 193, 201);
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0px 16px 0px 56px;
    padding: 0 12px;
}
.search button{
    
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: "Bricolage Grotesque", sans-serif;
}
.cards{
    display: flex;
    overflow: hidden;
}
.card-item img{
    margin-top: 25px;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 12vw;
    margin: 0 15px;
}
footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
}
